

/* @media screen and (max-width: 664px) {
    .row{
        flex-direction: column;
    }
    .details{
        margin-left: 3%;
        align-items: center;
    }
    .product_image{
        width: 100%;
        height: 100%;
    } 
    .details{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 413) {
    .row{
        flex-direction: column;
    }
    .details{
        margin-left: 3%;
        align-items: center;
    }
    .product_image{
        width: 100%;
    }
    .details{
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }
} */


